.container {
    width: 300px;
    height: auto;
    background: #ffffff;
    padding: 5px 35px 40px;
    box-sizing: content-box;
}

h1 {
    border-bottom: 1 px solid black;
    padding-bottom: 5px;
    color: red;
}

 /*The switch - the box around the slider */
.switch {
    position: absolute;
    display: inline-block;
    width: 35px;
    height: 20px;
    top: 126px;
    bottom: 10px;
    left: 280px;

}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #cccccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 3px;
    bottom: 2.5px;
    background-color: #ffffff;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2a7fce;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2a7fce;
}

input:checked + .slider:before {
    -webkit-transform: translateX(14px);
    -ms-transform: translateX(14px);
    transform: translateX(14px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

